.label {
    -fx-font: 14px "Helvetica";
}

.text-field {
    -fx-background-color: lightgray,white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font: 14px "Helvetica";
}

.text-field:focused {
   -fx-background-color : #0071e3,white;
}

.password-field {
    -fx-background-color: lightgray,white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font: 14px "Helvetica";
}

.password-field:focused {
   -fx-background-color : #0071e3,white;
}

.vbox {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10px;
    -fx-border-color: lightgray;
    -fx-border-radius: 10px;
}

.signup {
    -fx-text-fill: #0071e3;
    -fx-cursor: hand;
}

.signup:hover {
    -fx-text-fill: #0091e3;
}

.button {
    -fx-background-color: #0071e3;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font: 14px "Helvetica";
}

.button:hover {
    -fx-background-color: #0091e3;
}

.button:pressed {
    -fx-background-color: #0071e3;
}

.combo-box {
    -fx-background-color:lightgray,white;   
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font: 14px "Helvetica";
}

.combo-box .list-cell:hover,
.combo-box-popup .list-cell:filled:selected,
.combo-box-popup .list-cell:filled:selected:hover {
    -fx-background-color: #0071e3;
}

.sidebar {
    -fx-background-color: #f2f2f2;
}

.sidebar-buttons {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-font: 20px "Helvetica";
    -fx-cursor: pointer;
}

.sidebar-buttons:hover {
    -fx-background-color: #f3f3f3;
}

.whiteboard-text {
    -fx-font-style: "Bold";
    -fx-font: 20px "Helvetica";
    
}